.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container main {
    flex: 1;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 12px;
    }
}
